      a {
        color: white;
        text-decoration: none;
      }
      a:hover {
        text-decoration:none;
        color: #00be00;
      }
      @font-face {
  font-family: 'Departure Mono';
  src: url('DepartureMono-Regular.otf') format('opentype');
     }
    body {
      background-color: black;
      color: white;
      font-family:'Departure Mono', monospace;
      margin: 0;
      }
      #globe {
        width: 290px;
        filter: brightness(2);
        image-rendering: pixelated;
      }
      .pixel {
        image-rendering: pixelated;
      }
      .notes {
        border: 2px solid #00be00;
        border-radius: 4px;
      }
      .book {
        width: 300px;
        height: auto;
        image-rendering: pixelated;
      }
      .title {
        font-size: 40px;
      }
      .countdown {
        font-size: 30px;
        color: #00be00;
      }
      .header {
        font-size: 20px;
      }
      .massive {
        font-size: 200px;
      }
      .text {
        font-size: 14px;
        max-width: 600px;
        font-weight: bold;
      }
      .blog {
        font-size: 14px;
      }